@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(116, 87, 213);
  background-image: url("https://derpicdn.net/img/2012/1/31/2708/full.gif");
  background-size: 100%;
}
.blur {
    z-index: 99; /* изображение размыто */
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    filter: url('blur.svg#blur'); /* путь к svg */
}
.logo {
  position: absolute;
  right: 32%;
}
#nav-bar > ul {
  display: flex;
  float: right;
  margin: 20px;
}
#nav-bar > ul > li {
  margin-left: 10px;
  list-style: none;
}
#nav-bar > ul > li > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
#nav-bar > ul > li > a:hover {
  border-bottom: solid 2px rgb(255, 215, 6);
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:hover {
  color: rgb(255, 207, 0);
}
h1 {
  color: white;
}
p {
  color: white;
}
#container {
  margin-top: 120px;
  margin-left: auto;
  margin-left: 80px;
  border: solid 2px rgb(255, 199, 0);
  padding: 50px;
  margin-right: 80px;
  margin-bottom: 90px;
  background-color: rgba(20, 20, 20, 0.79);
}
.article {
  border-bottom: solid 2px rgb(255, 199, 0);
  padding: 10px;
}
*::selection {
  background: white;
  color: #FFDF00;
}
footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(43, 43, 43, 0.91);
}
footer > a {
  position: relative;
  bottom: -50px;
}
